<html>
    <head>
        <title>This is Brandon's Twitter clone for CS40!</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>This is Brandon's Twitter clone for CS40!</h1>
        {% block title %}
        {% endblock %}
        <ul>
            <li><a href='/'>The Root</a></li>
            {% if username %}
            <li><a href='/logout'>Log Out</a></li>
            {% else %}
            <li><a href='/login'>Log In</a></li>
            {% endif %}
            <li><a href='/create_message'>Create Message</a></li>
            <li><a href='/create_user'>Create Account</a></li>
            <li><a href='/index'>Index of Mike</a></li>
        </ul>
        {% block content %}
        {% endblock %}
    </body>
</html>