{% extends 'base.html' %}

{% block content %}

        {% if create_user_unsuccessful %}
        <div class="alert alert-danger" role="alert">
            Username and Password must be at least one letter!
        </div>
        {% endif %}

        {% if create_user_successful %}
        <div class="alert alert-success" role="alert">
            You made an account! Please log in!
        </div>
        {% endif %}

        {% if username_error %}
        <div class="alert alert-danger" role="alert">
            Username already exists! Use a different name!
        </div>
        {% endif %}

        {% if password_error %}
        <div class="alert alert-danger" role="alert">
            Passwords don't match! Please try again
        </div>
        {% endif %}


        <div class="container d-flex justify-content-center">
            <h2>Create User</h2>
        </div>

        <br>
        <br>

        <div class="container-fluid d-flex justify-content-center">
            <form action=/create_user method=POST>
                <label for="username">Username:</label><input type=text name=username><br>
                <label for="password">Password:</label><input type=password name=password><br>
                <label for="repeatpassword">Repeat Password:</label><input type=password name=repeatpassword><br>
                <label for="age">Age:</label><input type=integer name=age><br>
                <input type=submit value='Create Account'>
            </form>
        </div>

{% endblock %}