{% extends 'base.html' %}
{% block title %}
        <h2>Homepage</h2>
{% endblock %}

{% block content %}

        {% if username %}
        <h3>Welcome, {{username}}!</h3>
        {% endif %}
        <br>
        <table>
            <tr><td>Message ID</td><td>Username</td><td>Message</td></tr>
                <br>
        {% for message in messages %}
        <tr><td>{{message.id}}</td><td>{{message.username}}</td><td>{{ message.text }}</td><td>{% if username==message.username %}<a href="/delete_message/{{message.id}}">Delete Message</a>{% endif %}</td></tr>
        {% endfor %}
        </table>
{% endblock %}