{% extends 'base.html' %}
{% block title %}
        <h2>Homepage</h2>
{% endblock %}

{% block content %}
        {% if username %}
        <h3>Welcome, {{username}}!</h3>
        <p><a href="/delete_user/{{username.id}}">Delete User</a></p>
        {% endif %}
        <br>
        <table>
                <tr>
                        <td>Username</td>
                        <td>Message</td>
                        <td>Timestamp</td>
                </tr>
                <br>
                {% for message in messages %}
                <tr>
                        <td>{{message.username}}</td>
                        <td>{{ message.text }}</td>
                        <td>{{ message.created_at }}</td>
                        <td>{% if username==message.username %}<a href="/delete_message/{{message.id}}">Delete Message</a>{% endif %}</td>
                </tr>
                {% endfor %}
        </table>
{% endblock %}